/* Header */
.dashboard-header {
  width: 100%;
  height: 60px;
  background: #1e1e2f;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  position: sticky;
}

/* Menu Button */
.menu-btn {
  font-size: 26px;
  cursor: pointer;
  color: white;
}

/* Sidebar */
.sidebar {
  position: fixed;
  bottom:0;
  right: -220px;
  width: 220px;
  height: 100%;
  background: #2c2c3e;
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  transition: 0.3s ease-in-out;
  z-index: 1000;
}

.sidebar.open {
  left: 0;
}

.sidebar a {
  padding: 15px 20px;
  text-decoration: none;
  color: white;
  font-size: 18px;
  transition: 0.3s;
}

.sidebar a:hover {
  background: #00d4ff;
  color: #000;
}

/* Profile */
.right-profile {
  position: relative;
  right: 40px;
}

.profile-wrapper {
  cursor: pointer;
}

.profile-img {
  width: 40px;
  height: 40px;
  border-radius: 90%;
  border: 2px solid white;
}

/* Dropdown */
.dropdown {
  position: absolute;
  top: 50px;
  right: 0;
  background: white;
  color: #333;
  width: 150px;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0,0,0,0.2);
  display: flex;
  flex-direction: column;
}

.dropdown a {
  padding: 10px;
  text-decoration: none;
  color: #333;
  transition: 0.3s;
}

.dropdown a:hover {
  background: #f2f2f2;
}
